---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Projects from '../../components/Projects.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Miguel Hernández - Desarrollador Full Stack">
    <Navbar />
	<main>
		<Hero />
		<Projects />
		<Contact />
	</main>
    <Footer />
</Layout>
